<%= render "shared/seconde_header" %>

<main class="main">
  <div class="contents">
    <div class="top">
      <h2 class="top_head">西丹沢 大滝キャンプ場</h2>
      <div class="head_main">紹介文<br />
      </div>
    </div>
    <div class='intermediatess'>
      <h2 class="intermediates_head">写真・風景</h2>
      <div class='item-lists'>
        <div class='listss'>
          <div class='item-img-contents'>
            <img src="/images/search.png" alt="" class="item-img">
            <img src="/images/search.png" alt="" class="item-img">
            <img src="/images/search.png" alt="" class="item-img">
            <img src="/images/search.png" alt="" class="item-img">
          </div>
        </div>
      </div>
    </div>
    <div class="top">
      <h2 class="top_head">ポイント</h2>
      <div class="head_main">紹介文<br />
      </div>
    </div>
    <div class="top_s">
      <h2 class="top_head">おすすめスポット</h2>
      <div class="head_main">紹介文<br />
      </div>
    </div>
    <div class="top_a">
      <ul class="camps">
        <li class="camp_name">
          <div class = "Name">
            <%= link_to "西丹沢 大滝キャンプ場", "#" %>
          </div>
          <div class="address">
            住所 : 
          </div>
          <div class="phone">
            TEL : 
          </div>
        </li>
      </ul>
    </div>
  </div>
</main>

<%= render "shared/footer" %>