.home_head {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/WEAREALLONE3.jpg);
  background-repeat:  no-repeat;
  background-size: cover;
}

.inner {
  width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.main_menu{
  padding: 3.5%;
}

.mains{
  display: flex;
  justify-content: space-between;
}

.video-logo{
  width: 8%;
  height: 8%;
  padding-right: 2%;
}

.menu{
  width: 8%;
  height: 8%;
  text-align: center;
}

.menu a{
  font-size: 90%;
  font-weight: 600;
  font-family: 'Roboto',Verdana, Geneva, "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","meiryo","MS P Gothic","ＭＳ Ｐゴシック","Osaka", sans-serif;
  text-shadow : 
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3; 
  text-decoration: none;
}

.menu span{
  display: block;
  text-align: center;
  font-size: 83%;
  font-weight: 500;
  padding-top: 8px;
  font-family: "Noto Serif JP","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro","ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: normal;
  text-shadow : 
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3; 
}

.sub{
  width: 14%;
  height: 8%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.sub_menu {

}

.sub_menu img{
  width: 40px;
  height: 40px;
  padding: 5px;
}

.home_only_img{
  width: 100%;
  height: 100%;
}

.btn_h_search{
  width: 20px;
  height: 20px;
}


.lists-right{
  display: flex;
  justify-content: flex-end;

}

.user{
  text-decoration: none;
  border-radius: 5px;
  border:2.5px solid #e6e6fa;
  font-weight: 1000;
  font-size: 13px;
  color: #e6e6fa;
  padding: 5px;
  margin: 4px 6px;
  background-color: #000000;
}

.user_name{
  text-decoration: none;
  border-radius: 5px;
  border:2.5px solid #e6e6fa;
  font-weight: 1000;
  font-size: 13px;
  color: #e6e6fa;
  padding: 5px;
  margin: 4px 6px;
  background-color: #000000;
}

.user_my{
  text-decoration: none;
  border-radius: 5px;
  border:2.5px solid #e6e6fa;
  font-weight: 1000;
  font-size: 13px;
  color: #e6e6fa;
  padding: 5px;
  margin: 4px 6px;
  background-color: #000000;
}

.user_out{
  text-decoration: none;
  border-radius: 5px;
  border:2.5px solid #e6e6fa;
  font-weight: 1000;
  font-size: 13px;
  color: #e6e6fa;
  padding: 5px;
  margin: 4px 6px;
  background-color: #000000;
}

.user_in{
  text-decoration: none;
  border-radius: 5px;
  border:2.5px solid #e6e6fa;
  font-weight: 1000;
  font-size: 13px;
  color: #e6e6fa;
  padding: 5px;
  margin: 4px 6px;
  background-color: #000000;
}

.user_up{
  text-decoration: none;
  border-radius: 5px;
  border:2.5px solid #e6e6fa;
  font-weight: 1000;
  font-size: 13px;
  color: #e6e6fa;
  padding: 5px;
  margin: 4px 6px;
  background-color: #000000;
}

.txt_h_search {
  height: 10%;
  display: block;

}

.search_area{
  display: flex;
  justify-content: flex-end;
  padding-top: 3%;
}

.btns{
  background: none;
  color: #000;
  border-bottom: 2.5px solid #e6e6fa;
}