.home_head {
  width: 100vw;
  height: 100vh;
  background-image: url(/assets/WEAREALLONE3.jpg);
  background-repeat:  no-repeat;
  background-size: cover;
}

.inner {
  width: 100vw;
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
}

.main_menu{
  padding: 3.5%;
}

.mains{
  display: flex;
  justify-content: space-between;
}

.video-logo{
  width: 8%;
  height: 8%;
  padding-right: 2%;
}

.menu{
  width: 8%;
  height: 8%;
  text-align: center;
}

.menu a{
  font-size: 90%;
  font-weight: 600;
  font-family: 'Roboto',Verdana, Geneva, "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","meiryo","MS P Gothic","ＭＳ Ｐゴシック","Osaka", sans-serif;
  text-shadow : 
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3; 
  text-decoration: none;
}

.menu span{
  display: block;
  text-align: center;
  font-size: 83%;
  font-weight: 500;
  padding-top: 8px;
  font-family: "Noto Serif JP","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro","ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: normal;
  text-shadow : 
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3; 
}

.sub{
  width: 14%;
  height: 8%;
  display: flex;
  justify-content: flex-end;
  text-align: right;
}

.sub_menu {

}

.sub_menu img{
  width: 40px;
  height: 40px;
  padding: 5px;
}

.home_only_img{
  width: 100%;
  height: 100%;
}

.btn_h_search{
  width: 20px;
  height: 20px;
}


.lists-right{
  display: flex;
  justify-content: flex-end;

}

.user{
  text-decoration: none;
  border-radius: 5px;
  border:2.5px solid #e6e6fa;
  font-weight: 1000;
  font-size: 13px;
  color: #e6e6fa;
  padding: 5px;
  margin: 4px 6px;
  background-color: #000000;
}

.txt_h_search {
  height: 30%;
  display: block;
  border: 0;
  border-bottom: 2.5px solid #e6e6fa;
  background: none;
  color: #00ffff;
}

.search_area{
display: flex;
justify-content: flex-end;
padding-top: 3%;
}



/* .site_logo {
  width: 6%;
  margin-right: 1.5%;
  float: left;
  position: relative;
  position: absolute;
  top: 2%;
  left: 1%;
}

.video-logo{
  display: inline;
  max-width: 100%;
}

/* .main_menu {
  width: 70%;
  display: block;
  float: left;
  position: absolute;
  top: 5%;
  left: 10%;
}

.main_menu_ul {
  font-size: 85%;
  list-style: none;
  display: flex;
  justify-content: space-between;
  zoom: 1;
  width: auto;
  font-family: 'Roboto',Verdana, Geneva, "Hiragino Kaku Gothic Pro","ヒラギノ角ゴ Pro W3","メイリオ","meiryo","MS P Gothic","ＭＳ Ｐゴシック","Osaka", sans-serif;
  text-shadow : 
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3; 
}

.main_menu_li {
  min-width: 10%;
  line-height: 1;
  text-align: center;
}

.main_menu a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #111111;
}

.main_menu span {
  display: block;
  text-align: center;
  font-size: 88%;
  padding-top: 8px;
  font-family: "Noto Serif JP","ヒラギノ明朝 Pro W3", "Hiragino Mincho Pro","ＭＳ Ｐ明朝", "MS PMincho", serif;
  font-weight: normal;
  text-shadow : 
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3,
  2px 2px 2px #d3d3d3; 
}

.sub_menu {
  width: 100%;
  transition: 0.5s right;
  display: block;
  position: relative;
  top: 2%;
  left: 88%;
}

.sub_menu_conteiner{
  display: flex;
  flex-direction: row;
}

.sub_menu_ul {
  padding: 1px 1px 0 0;
  list-style: none;
}

.sub_menu_li{
}

.sub_menu img {
  max-width: 3%;
  height: auto;
}

.nav-login {
  right: 45px;
} 

.lists-right {
  display: inline-block;
  margin: 0;
  padding: 0;
  list-style: none;
}

.right  {
  color: #111111;
  font-size: 15px;
  font-weight: 700;
}

.nav-login a {
  background-color: #ffffff;
  text-decoration: none;
  border-radius: 2px;
  border:1px solid black;
  padding: 2px;
  text-shadow: 0px 0px 1px #d3d3d3, 1px 1px 1px #d3d3d3;
}

form {
  width: 100%;
  display: block;
}

.txt_h_search {
  width: 10%;
  display: block;
  border: 0;
  border-bottom: 1px solid #ffffff;
  padding: 0 0 5px 0;
  background: none;
  color: #ffffff;
}

.btn_h_search {
  display: block;
  width: 50%;
  position: absolute;
  top: 92%;
  left: -14%;
}

button {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  outline: none;
  padding: 0;
  appearance: none;
}

.home .home_only_img {
  display: inline;
}
 */









/* 

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd, li, table, td, th, address, blockquote, form, fieldset, legend, div, hr, pre {
  margin: 0;
  padding: 0;
  font-style: normal;
  text-align: left;
  font-size: 100%;
  line-height: 1.2;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}







#home_head .sub_menu .search_area {
  position: relative;
}



img, input, select, textarea {
  margin-top: 0;
  margin-bottom: 0;
  vertical-align: middle;
  font-size: 12px;
} */

/* div, ul, section, article {
  zoom: 1;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, dt, dd, li, table, td, th, address, blockquote, form, fieldset, legend, div, hr, pre {
  padding: 0;
  font-style: normal;
  font-size: 100%;
  line-height: 1.2;
}

div {
  display: block;
}

