<footer class="home_foot">
  <div class="innerse">
    <div class="top_foot">
      <h3 class="brand">BCLife ブランド</h3>
        <ul class="brand_ul">
          <li class="brand_li"><a href="#"><img src="/assets/camp.png" alt="Camp">キャンプギア</a></li>
          <li class="brand_li"><a href="#"><img src="/assets/bike.jpg" alt="Bike">ヴィンテージBIKE</a></li>
          <li class="brand_li"><a href="#"><img src="/assets/Classic.png" alt="Classic">BCLife クラシック</a></li>
          <li class="brand_li"><a href="#"><img src="/assets/mt.png" alt="Mountain">Mt.Like</a></li>
        </ul>
    </div>
    <div class="intermediate_foot">
      <h4 class="logo">
        <a href="/">
          <%= video_tag("/videos/BCLife.mp4", autoplay: :true, muted: :true, class: 'video-lg') %>
        </a>
      </h4>
      <div class="left_foot">
        <p class="left_name">MENU</p>
        <ul class="left_ul">
          <li class="left_li"><a href="topbikers#index">トップページ</a></li>
          <li class="left_li"><a href="../camps_lists#index">キャンプ場 一覧</a></li>
          <li class="left_li"><a href="../posts#index">投稿写真 一覧</a></li>
          <li class="left_li"><a href="../consultations#index">お悩み相談</a></li>
        </ul>
      </div>
      <div class="right_foot">
        <p class="right_name">ABOUT</p>
        <ul class="right_ul">
          <li class="right_li"><a href="#">運営会社</a></li>
          <li class="right_li"><a href="#">利用規約</a></li>
          <li class="right_li"><a href="#">プライバシーポリシー</a></li>
          <li class="right_li"><a href="#">お問い合わせ</a></li>
        </ul>
      </div>
    </div>
    <div class="bottom_foot">
      <p>©BCLife All Rights Reserved.</p>
    </div>
  </div>
</footer>