<%= render "shared/header2" %>

<main class="main">
  <div class="contents">
    <div class="top">
      <h2 class="top_head">キャンプ場一覧</h2>
      <div class="head_main">ここで紹介しているキャンプ場は<br />
      愛車のバイクがテントサイトまで横付けできるキャンプ上のみ紹介しています。<br />
      <br />
      これからのBCLife生活を送るにあたり、少しでも不安を解消して頂きたく<br />
      手助け・ご参考にしていただきましたら幸いです。<br />
      <br />
      各キャンプ場のリンクも貼っておりますので、<br />
      詳しい情報や料金等は公式HPご参考にして下さい！<br />
      <br />
      <br />
      さあ皆様！<br />
      BCLifeへ繰り出しましょう！！！
      </div>
    </div>
  </div>
</main>

<%= render "shared/footer" %>