<%= render "shared/header" %>
 
<main class="main">
  <div class="contents">
    <div class="top">
      <h2 class="top_head">BCLifeサイトについて</h2>
      <div class="head_main">BCLife (Biker Camper of Life)<br />
      このサイトは日本国内全てのバイク・キャンプを愛する人へ向けたサイトです。<br />
      <br />
      愛車のバイクでキャンプに繰り出し、いざキャンプ場に着いた際に<br />
      「このキャンプ場、バイクをテントサイトまで持っていけないの！？」<br />
      そんな経験をしてお困りになった方はいませんか？<br />
      <br />
      バイカーの皆様からしたら、愛車のバイクと隣合わせでキャンプを楽しみたいものです。<br />
      <br />
      現在、全国各キャンプ場ホームページでは、バイクの乗り入れ可否について記載している<br />
      ホームページは数えるほどです。<br />
      <br />
      そんな中、BCLifeサイトではバイクと隣り合わせでテントを設営できるキャンプ場の紹介や、<br />
      バイク・キャンプに役立つアイテム、左記のコアなお悩みやお困りごとの相談<br />
      愛車・キャンプ道具自慢投稿などなど<br />
      BCLifeを愛する人が、今よりもっと充実した日々が送れる<br />
      少しでも手助けできればと思いこのサイトを立ち上げました！
      </div>
    </div>
    <div class="intermediate">
      <h2 class="intermediate_head" id="camp">RECOMMENDED CAMOSITES<span>〜おすすめキャンプ場〜</span></h2>
      <ul class="intermediate_ul">
        <li class="intermediate_li"><a href="#">西丹沢 大滝キャンプ場 (神奈川県)<img src="/assets/ootaki.jpg" alt="西丹沢 大滝キャンプ場"></a></li>
        <li class="intermediate_li"><a href="#">ウェルキャンプ 西丹沢 (神奈川県)<img src="/assets/welnes.jpg" alt="ウェルキャンプ 西丹沢"></a></li>
        <li class="intermediate_li"><a href="#">ソレイユの丘キャンプ場 (神奈川県)<img src="/assets/soreiyu.jpg" alt="ソレイユの丘キャンプ場"></a></li>
      </ul>
    </div>
    <div class="bottom">
      <h2 class="bottom_head" id="item">RECOMMENDED ITEMS<span>〜おすすめアイテム〜</span></h2>
      <ul class="bottom_ul">
        <li class="bottom_li"><a href="#">タナックス(TANAX) キャンピングシートバッグ2 モトフィズ(MOTOFIZZ)<br />ブラック MFK-102 (可変容量59-75ℓ)<img src="/assets/tanax.jpg" alt="タナックス(TANAX) キャンピングシートバッグ2"></a></li>
        <li class="bottom_li"><a href="#">ミニスチールピエゾ ストーブケース キャンプ用品ガスバーナー<br />キャンプストーブ コンパクトバーナー<br />コンパクト折りたたみ式バーナー 圧電点火装置付きCB缶対応 収納袋付き<img src="/assets/iwatani.jpg" alt="ミニスチールピエゾ ストーブケース キャンプ用品ガスバーナー"></a></li>
        <li class="bottom_li"><a href="#">DOD ライダーズバイクインテント 【ツーリング仕様】<br />ワンタッチ 大きな前室 1-2人用<img src="/assets/dod.jpg" alt="DOD ライダーズバイクインテント 【ツーリング仕様】"></a></li>
      </ul>
    </div>
  </div>
</main>

<%= render "shared/footer" %>
